###### CrossTab.pptx

In [54]:
import pandas as pd
import numpy as np
X = ["Yes", "No", "No", "Yes", "No", "Yes", "Yes", "No", "Yes", "Yes"]
Y = ["New York", "Miami", "Miami", "Miami", "New York","New York","New York","Miami","Miami","New York"]
T = pd.crosstab(np.asarray(X),np.asarray(Y), rownames=['X'],colnames=['Y'])
T

Y    Miami  New York
X
No       3         1
Yes      2         4

In [55]:
TColumnProportion = pd.crosstab(np.asarray(X),np.asarray(Y), normalize = "columns", rownames=['X'],colnames=['Y'])
TRowProportion = pd.crosstab(np.asarray(X),np.asarray(Y), normalize = "index", rownames=['X'],colnames=['Y'])
TAllProportion = pd.crosstab(np.asarray(X),np.asarray(Y), normalize = "all", rownames=['X'],colnames=['Y'])

In [56]:
TColumnProportion

Y    Miami  New York
X
No     0.6       0.2
Yes    0.4       0.8

In [57]:
TRowProportion

Y       Miami  New York
X
No   0.750000  0.250000
Yes  0.333333  0.666667

In [58]:
TAllProportion

Y    Miami  New York
X
No     0.3       0.1
Yes    0.2       0.4

In [59]:
T3 = pd.Series(X).value_counts(normalize=True)
T3

Yes    0.6
No     0.4
dtype: float64

In [60]:
#Another Example - Three Possible Values
Z = np.random.choice(np.arange(1,4), 10, replace=True)
W = np.random.choice(np.arange(1,4), 10, replace=True)

In [61]:
Z

array([2, 2, 1, 1, 3, 3, 3, 3, 3, 1])

In [62]:
W

array([1, 2, 3, 3, 3, 3, 1, 3, 2, 3])

In [63]:
T4 = pd.crosstab(np.asarray(Z),np.asarray(W), rownames=['Z'],colnames=['W'])
T4

W  1  2  3
Z
1  0  0  3
2  1  1  0
3  1  1  3

In [64]:
df = pd.DataFrame({'Z': Z,'W': W})
df

   W  Z
0  1  2
1  2  2
2  3  1
3  3  1
4  3  3
5  3  3
6  1  3
7  3  3
8  2  3
9  3  1